<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="CuraduriaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLEXPRESS2008;Initial Catalog=Curaduria;Persist Security Info=True;User ID=sa;Password=root;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="CuraduriaEntities1" connectionString="metadata=res://*/CuraduriaEntities.csdl|res://*/CuraduriaEntities.ssdl|res://*/CuraduriaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLEXPRESS2008;Initial Catalog=Curaduria;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>